@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html {
    font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    background-image: linear-gradient(rgba(144, 144, 144, 0.75), rgba(144, 144, 144, 0.75)), url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Seattle_-_Crescent_Manufacturing_Company_-_1900.jpg");
    background-color: whitesmoke;
    background-size: cover;
    hyphens: auto;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

a, a:visited {
    text-decoration: none;
}

::selection, a:hover {
    color: white;
    background: #ff8c00;
}


nav {
    display: block;
    position: fixed;
    border: 0 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.5em;
    overflow: hidden;
    color: white;
    background-color: rgba(255, 140, 0, 0.9);
    z-index: 256;
}

nav h1 {
    display: block;
    float: left;
    padding-left: 1em;
    padding-right: 5em;
    width: 15em;
    font-weight: 400;
    text-transform: uppercase;
}

nav ul {
    display: block;
    float: right;
    padding-right: 2em;
}

nav ul li {
    text-transform: capitalize;
    display: block;
    float: left;
    margin-right: 1.75em;
    width: 5.75em;
    padding-left: 0.25em;
    -o-transition: width 0.25s;
    -ms-transition: width 0.25s;
    -moz-transition: width 0.25s;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
}

nav ul li:hover {
    text-decoration: none;
    background-color: white;
    color: #ff8c00;
    width: 8em;
}

main {
    display: block;
    width: 90%;
    margin: auto;
    background-color: white;
    font-size: 1.25em;
    line-height: 1.75em;
    
}

main section {
    position: relative;
    width: 100%;
    height: 15em;
    margin: auto;
    margin-top: 3em;
    top: 0;
    left: 0;
}

main section h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 2.25em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

main article {
    padding: 0 2em 1em 2em;
    width: 80%;
    margin: auto;
}

footer, footer p {
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 0.25em 0 0.25em 0;
    font-size: 0.95em;
    line-height: 0.95em;
    text-align: center;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: white;
    background-color: #2D7AA8;
    overflow: visible;
}

footer p a {
    color: white;
    text-decoration: underline;
    
}

footer p a:hover {
    color: #2D7AA8;
    background: white;
    text-decoration: none;
}


main #s1 {
    background-image: linear-gradient(rgba(255, 140, 0, 0.75), rgba(255, 140, 0, 0.75)), url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Seattle_-_Crescent_Manufacturing_Company_-_1900.jpg");
    background-size: cover;
}

main #s2 {
    background-image: linear-gradient(rgba(0, 179, 88, 0.75), rgba(0, 179, 88, 0.75)), url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Seattle_-_Crescent_Manufacturing_Company_-_1900.jpg");
    background-size: cover;
} 

main #s3 {
    background-image: linear-gradient(rgba(25, 36, 177, 0.75), rgba(25, 36, 177, 0.75)), url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Seattle_-_Crescent_Manufacturing_Company_-_1900.jpg");
    background-size: cover;
}

main #s4 {
    background-image: linear-gradient(rgba(255, 61, 0, 0.75), rgba(255, 61, 0, 0.75)), url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Seattle_-_Crescent_Manufacturing_Company_-_1900.jpg");
    background-size: cover;
} 