*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cd-timeline {
  display: block;
  height: auto;
  overflow-y: visible;
  margin: 0;
}

.cd-timeline__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0;
  padding: 0;
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #00b358;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline__block {
  position: relative;
  margin: 1em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__block {
    margin: 4em 0;
  }
}

.cd-timeline__img {
  background: #00b358;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;}

@media only screen and (min-width: 1170px) {
  .cd-timeline__img {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  border: #00b358 solid 3.5px;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-align: left;
}

.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  right: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-right: 12px solid #00b358;
}

.cd-timeline__date {
  display: inline-block;
  float: left;
  padding-bottom: 0.25em;
  color: #00b358;
  font-size: 2em;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 0 1.25em 0 1.25em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__content::before {
    top: 12px;
    left: 100%;
    border-color: transparent;
    border-left-color: #00b358;
  }
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    padding-bottom: 0.25em;
  }

  .cd-timeline__content:hover {
    color: white !important;
    background-color: #00b358 !important;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 12px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #00b358;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}
